# ––– BASIC STATEMENTS –––

snippet if "An if statement" b
if (${1:condition}) {
  $0
}
endsnippet

snippet while "An if statement" b
while (${1:condition}) {
  $0
}
endsnippet


# Switch Case
snippet switch "A switch case" b
switch (${1:var}) {
  case ${2:value}:
    $3
    break;
  $0
}
endsnippet
snippet case "A single case in a switch case" b
case ${1:value}:
  $0
  break;
endsnippet
snippet default "The default case in a switch case" b
default:
  $0
  break;
endsnippet
