# ––– HEADERS –––

snippet usaco "A header for USACO problems" b
// ––– ${1:`!v strftime("%Y %B")`}: ${2:DIVISION} #${3:NUMBER} –––$0
endsnippet

snippet cf "A header for CodeForces problems" b
// ––– CodeForces Round #${1:ROUND}: Problem ${2:PROBLEM} –––$0
endsnippet
