# ––– HEADERS –––

snippet usaco "A header for USACO problems" b
// ––– ${1:`!v strftime("%Y %B")`}: ${3:Silver} #${4:1} –––$0
endsnippet

snippet codeforces "A header for CodeForces problems" b
// ––– Round #${1:100}: Problem ${2:A} –––$0
endsnippet
